<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
    * {
        font-family: "Rubik", "sans-serif";
    }
    div {
        text-align: left;
        margin-top: 20px;
    }
    h1 {
        color: orange;
        font-size: 40pt;
    }
    p {
        font-size: 24pt;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
    }

    li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }

    /* Change the link color on hover */
    li a:hover {
        background-color: #555;
        color: white;
    }
    .active {
        background-color: #04AA6D;
        color: white;
    }
</style>

<div>
    <h1>Welcome to the Khodor-Ansari Website!</h1><br>
    <p>This site has been visited {{ count }} times.</p>
    <p>How is it going in Lebanon, are you having fun?.</p>
    <p>The current time is {{ current_date }}.</p>
</div>


<nav> 
    <ul class = "nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="upload.html">News</a></li>
        <li><a href="pca.html">Contact</a></li>
        <li><a href="settings.html">About</a></li>
    </ul>
</nav> 



