<link rel="preconnect" href="https://fonts.gstatic.com">
<!--<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">-->
<link rel="stylesheet" href="style.css">

<div>
    <h1>Welcome to the Khodor-Ansari Flow Website! (The name is still a work in progress)</h1>
</div>

<!--
<nav> 
    <ul class = "nav">
        <li><a href="login.html">Account Login</a></li>
    </ul>
</nav> 
-->
<a href="login.html">Account Login</a></li>

<div>
</div>

<nav> 
    <ul class = "nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="upload.html">Data Upload</a></li>
        <li><a href="pca.html">PCA</a></li>
        <li><a href="settings.html">Settings</a></li>
    </ul>
</nav> 


<div>
    <p>How is it going in Lebanon, are you having fun?.</p>
    <p>The goal of this site is to make tools avilable for high dimensionality flow cytometry.</p>
    <p>Steps available include QC, normalization, dimensionality reduction with PCA, and UMAP.</p>
    <p>Still trying to get images to show for some reason they do not.</p>

    <p>This site has been visited {{ count }} times.</p>
    <!--<p>How is it going in Lebanon, are you having fun?.</p>
    <p>The current time is {{ current_date }}.</p> 
    <img src="images/UMAP.jpg" />
    <img src="/UMAP.jpg" />
    <img src="UMAP.jpg" />
    <img src="umap example.png" alt="umap example"/>  
    <img src="images/UMAP.jpg"
     alt="The"
     width="400"
     height="341"> 
     <img src="C:\Users\rkhan\Documents\GitHub\zuhayr_sample-webapp\templates\UMAP.jpg" /> -->
     <img src="/static/images/UMAP.jpg" />
</div>


