<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
    * {
        font-family: "Rubik", "sans-serif";
    }
    div {
        text-align: left;
        margin-top: 20px;
    }
    h1 {
        color: orange;
        font-size: 40pt;
    }
    p {
        font-size: 24pt;
    }
</style>

<div>
    <h1>Welcome to the Khodor-Ansari Website!</h1><br>
    <p>This site has been visited {{ count }} times.</p>
    <p>How is it going in Lebanon, are you having fun?.</p>
    <p>The current time is {{ current_date }}.</p>
</div>

<div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>
  /* Add a black background color to the top navigation */
  .topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }