<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
    * {
        font-family: "Rubik", "sans-serif";

    }
    div {
        text-align: left;
        margin-top: 20px;
    }
    h1 {
        color: gray;
        font-size: 30pt;
    }
    p {
        font-size: 20pt;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        /* Change the link color to #111 (black) on hover */
    li a:hover {
        background-color: #111;
    }
    
    body{
        --color-primary: #9694e7;
        --color-primary-dark: #007f67;
        --color-secondary: #252c6a;
        --color-error: #cc3333;
        --color-success: #4bb544;
        --border-radius: 4px;

        margin: 0;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        background: var(--color-primary);
        /*background: url(./UMAP.jpg);*/
        background-size: cover;
    }
    .container{
        width: 400px;
        max-width:400px;
        margin: 1rem;
        padding: 2rem;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
        border-radius: var(--border-radius);
        background: white; 
    }

</style>


<div>
    <form class ="form" id ="login">
        <h1 class="form_title">Login</h1>
        <div class="form_message form_message-error">Incorrect password</div>
        <div class="form_input-group">
            <input type="text" class="form_input" autofocus placeholder="Email">
            <div class="form_input-error-message">This is an error message</div>
        </div>
        <div class="form_input-group">
            <input type="password" class="form_input" autofocus placeholder="Password">
            <div class="form_input-error-message"></div>
        </div>
        <button class="form_button" type="submit">Continue</button>
        <p class ="form_text">
            <a href="#" class="form_link">Forgot Password?</a>  <!-- Still needs to be changed so it actually links somewhere-->
        </p>
        <p class ="form_text">
            <a class="form_link" href="./" id="linkCreateAccount" class="form_link">Create Account</a>  <!-- Still needs to be changed so it actually links somewhere-->
        </p>
    </form>
</div>

















