<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
    * {
        font-family: "Rubik", "sans-serif";
    }
    div {
        text-align: left;
        margin-top: 20px;
    }
    h1 {
        color: gray;
        font-size: 30pt;
    }
    p {
        font-size: 20pt;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        /* Change the link color to #111 (black) on hover */
    li a:hover {
        background-color: #111;
    }
</style>


<div>
    <h1>University of Pennsylvania Medical Center</h1><br>
</div>


<div>
    <form class ="form" id ="login">
        <h1 class="form_title">Login</h1>
        <div class="form_message form_message-error">Incorrect password</div>
        <div class="form_input-group">
            <input type="text" class="form_input" autofocus placeholder="Email">
            <div class="form_input-error-message">This is an error message</div>
        </div>
    </form>
</div>

















