<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
    * {
        font-family: "Rubik", "sans-serif";
    }
    div {
        text-align: left;
        margin-top: 20px;
    }
    h1 {
        color: green;
        font-size: 40pt;
    }
    p {
        font-size: 24pt;
    }
</style>

<div>
    <h1>This is the settings part!</h1><br>
    <p>What's up my amigos?</p>
</div>


<ul class = "nav">
    <li><a href="index.html">Home</a></li>
    <li><a href="upload.html">News</a></li>
    <li><a href="pca.html">Contact</a></li>
    <li><a href="settings.html">About</a></li>
</ul>
